h1{
text-align: center;
border: solid black;

}
button{
    border: solid black;
    border-style: solid double;
background-color: gray;
}
body{
    font-family:Arial Black;
background-image: url("https://www.planwallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_1.jpg");


}
#send{
    margin-top: 4%;
    margin-left: 5%;

}
#mot_mystere{

    text-align: center;


}
#answer{
    margin-left: 45%;
    padding-bottom: 2%;
    text-align: center;
}
#boutonreset{
    margin-left: 47%;
    margin-top: 4%;


}
#indication{
    margin-left: 45%;


}
